* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #a8dadc;
    text-align: center;
}

h1 {

    color: #001219;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin
    ;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #e63946;   
    background-color: #f1faee;
}

#reset-btn {
    padding: 1rem;
    margin-right: 10px;
    font-size: 0.8rem;
    background-color: #1d3557;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    margin-right: 10px;
    font-size: 0.8rem;
    background-color: #1d3557;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #1d3557;
    font-size: 6vmin;
}

.hide {
    display: none;
}
